*{
	margin: 0;
	padding: 0;
	
}
#road{
	position: relative;
	width: 100%;
	margin: auto;
	height: 100vh;
	overflow: hidden;
	background-image: url(../img/paligon2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.myTank{
	position: absolute;
	bottom: 0;
	left: 48%;
	width: 70px;
	height: 70px;
	background-image: url(../img/tank1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.eror{
			color: #fff;
			text-align: center;
			font-size: 10vh;
			background-color: red;	
		}

		.nk{
			width: 30%;
			margin-left: 35%;
			background-repeat: no-repeat;
		}

		.tapancik{
			display: none;
		}

.yourTank{
	position: absolute;
	top: 0;
	width: 70px;
	height: 70px;
	transform: rotate(180deg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(../img/tank2.png);
}

.fire{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 80px;
	background-image: url(../img/pul3.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	transform: rotate(-90deg);
}

#start{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 111;
	display: flex;
	justify-content: center;
	align-items: center;
	background: red;
}
.hashiv{
	color: red;
}